<div class="admin-container">
    <h1>Adminisztrációs Vezérlőpult</h1>
    
    <nav class="admin-menu">
        <ul>
            <li><a routerLink="/admin/cars">🚗 Autómárkák kezelése</a></li>
            <li><a routerLink="/admin/models">🚙 Autómodellek kezelése</a></li>
            <li><a routerLink="/admin/parts">🔩 Alkatrészek kezelése</a></li>
            <li><a routerLink="/admin/part-categories">📂 Alkatrész Kategóriák</a></li>
            <li><a routerLink="/admin/equipments">⚙️ Felszerelések</a></li>
            <li><a routerLink="/admin/equipment-categories">⚙️ Felszerelés Kategóriák</a></li>
            <li><a routerLink="/admin/orders">📦 Rendelések kezelése</a></li>
        </ul>
    </nav>

    <button (click)="logout()" class="logout-btn">🚪 Kijelentkezés</button>
</div>
