<!-- Regisztrációs űrlapot tartalmazó konténer -->
<div class="register-container">
    <h2>Regisztráció</h2>

    <!-- Az űrlap deklarációja -->
    <form #registerForm="ngForm" (ngSubmit)="register()">
      
      <!-- Vezetéknév beviteli mező -->
      <label for="lastName">Vezetéknév:</label>
      <input 
        type="text" 
        id="lastName" 
        name="lastName" 
        [(ngModel)]="user.lastName" 
        required 
      />

      <!-- Keresztnév beviteli mező -->
      <label for="firstName">Keresztnév:</label>
      <input 
        type="text" 
        id="firstName" 
        name="firstName" 
        [(ngModel)]="user.firstName" 
        required 
      />

      <!-- E-mail cím beviteli mező -->
      <label for="email">E-mail:</label>
      <input 
        type="email" 
        id="email" 
        name="email" 
        [(ngModel)]="user.email" 
        required 
      />
      <p *ngIf="errorMessage.includes('e-mail')" class="error">{{ errorMessage }}</p>

      <!-- Jelszó beviteli mező -->
      <label for="password">Jelszó:</label>
      <input 
        type="password" 
        id="password" 
        name="password" 
        [(ngModel)]="user.passwordHash" 
        minlength="8" 
        required 
      />
      <p *ngIf="errorMessage.includes('jelszó')" class="error">{{ errorMessage }}</p>

      <!-- Lakcím beviteli mező -->
      <label for="address">Cím:</label>
      <input 
        type="text" 
        id="address" 
        name="address" 
        [(ngModel)]="user.address" 
        required 
      />

      <!-- Szállítási cím beviteli mező -->
      <label for="shippingAddress">Szállítási cím:</label>
      <input 
        type="text" 
        id="shippingAddress" 
        name="shippingAddress" 
        [(ngModel)]="user.shippingAddress" 
        required 
      />

      <!-- Telefonszám beviteli mező -->
      <label for="phoneNumber">Telefonszám:</label>
      <input 
        type="text" 
        id="phoneNumber" 
        name="phoneNumber" 
        [(ngModel)]="user.phoneNumber" 
        required 
      />
      <p *ngIf="errorMessage.includes('telefonszám')" class="error">{{ errorMessage }}</p>

      <!-- Regisztrációs gomb -->
      <button 
        type="submit" 
        [disabled]="registerForm.invalid"
      >
        Regisztráció
      </button>

      <!-- Hibaüzenet -->
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
      <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    </form>
</div>
