  <h2>Alkatrészek keresése</h2>
<label for="carBrand">Autómárka:</label>
<select id="carBrand" [(ngModel)]="selectedBrandId" (change)="onBrandSelected()">
  <option *ngFor="let brand of carBrands" [value]="brand.id">{{ brand.name }}</option>
</select>

<label for="carModel">Autómodell:</label>
<select id="carModel" [(ngModel)]="selectedModelId" (change)="onModelSelected($event)" [disabled]="!selectedBrandId">
  <option *ngFor="let model of carModels" [value]="model.id">{{ model.name }}</option>
</select>

<label for="year">Évjárat:</label>
<select id="year" [(ngModel)]="selectedYear" (change)="onYearSelected()" [disabled]="!selectedModelId">
  <option *ngFor="let year of years" [value]="year">{{ year }}</option>
</select>

<label for="engineVariant">Motorváltozat:</label>
<select id="engineVariant"
        [(ngModel)]="selectedEngineVariantId"
        (change)="onEngineVariantSelected($event)"
        [disabled]="!selectedYear">
  <option *ngFor="let variant of filteredEngineVariants"
          [value]="variant.id">
    {{ variant.fuelType }} / {{ variant.engineSize }} cm³ ({{ variant.yearFrom }}–{{ variant.yearTo }})
  </option>
</select>

<label for="partsCategory">Alkatrész kategória:</label>
<select id="partsCategory" [(ngModel)]="selectedCategoryId" (change)="onCategorySelected($event)" [disabled]="!selectedEngineVariantId">
  <option *ngFor="let category of partCategories" [value]="category.id">{{ category.name }}</option>
</select>
